{% extends "layouts/base.twig" %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="text-primary">Home page Twig </h1>
        <p class="lead"> OK </p>
    </div>
</div>

{% endblock %}