{% extends "layouts/base.twig" %}

{% block content %}

<div class="container mt-5">

<h1>Ajouter un livre</h1>

<form method="POST">

<div class="mb-3">
<label>Titre</label>
<input type="text" name="titre" class="form-control" required>
</div>

<div class="mb-3">
<label>Année</label>
<input type="number" name="annee" class="form-control" required>
</div>

<div class="form-check mb-3">
<input type="checkbox" name="disponible" class="form-check-input">
<label class="form-check-label">Disponible</label>
</div>

<button class="btn btn-success">Ajouter</button>

</form>

</div>

{% endblock %}